

.nosotros{
    display: grid;
    grid-template-rows: repeat(2, auto);
}

@media  screen and (min-width: 768px){
    .nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        column-gap: 2rem;
    
    } 
}


.nosotros__imagen{
    grid-row: 1 /2;
    width: 100%;
}

@media  screen and (min-width:768px ){
    .nosotros__imagen{
        grid-column: 2 / 3;
    }
}
